TTS
torch>=1.7.1,<2.0
torchvision>=0.8.2,<0.13
opencv-python==4.5.5.64
torchaudio==0.7.2
scipy
numpy
numba
matplotlib
audioread
pydub
tqdm
requests
gdown
moviepy
scikit-image
imageio
face-alignment==1.3.5
librosa==0.8.1
